*~
*.bak
*.class
*.ear
*.eprj
*.iml
*.ipr
*.iws
*.jar
*.jsfdia
*.log
*.off
*.old
*.releaseBackup
*.ser
*.swp
*tar.gz
*.war
.classpath
.CVS
.DS_Store
.hg*
.idea
.manager
.metadata
.mymetadata
.myhibernatedata
.project
.settings
.springBeans
.svn
derby.log
desktop.ini
dist
lib_managed
lift_example
null
project/boot
project/build/target
rebel.xml
release.properties
runner
src_managed
Servers/
target/
test-output
tmp*
/bin/
all\-models/src/main/metamodel/*
generated/swagger-ui/swagger.json
node_modules/
*.tern-project