*~
*.bak
*.class
*.ear
*.eprj
*.iml
*.ipr
*.iws
*.jar
*.log
*.off
*.old
*.releaseBackup
*.ser
*.swp
*tar.gz
*.war
.classpath
.CVS
.DS_Store
.hg*
.idea
.manager
.metadata
.project
.settings
.svn
derby.log
desktop.ini
dist
lib_managed
lift_example
null
project/boot
project/build/target
rebel.xml
release.properties
runner
src_managed
target/
test-output
tmp*
