*~
*.bak
build
*.class
.classpath
.CVS
derby.log
dist
.DS_Store
*.ear
.hg*
.idea
*.iml
*.ipr
*.iws
*.jar
lib_managed
lift_example
*.log
.manager
.metadata
null
*.off
*.old
.project
project/boot
rebel.xml
*.releaseBackup
release.properties
runner
*.ser
.settings
.settings/
.svn
*.swp
syntax: glob
target
target/
*tar.gz
test-output
tmp*
*.war
