<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.url">jdbc:postgresql://localhost/biz360</property>
		<property name="connection.username">biz360</property>
		<property name="connection.password">biz360</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>		
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		
		<mapping class="mbmp.model.BaseHeirarchicalType" />
		<mapping class="mbmp.party.model.Organization" />
		<mapping class="mbmp.party.model.Party" />
		<mapping class="mbmp.party.model.PartyClassification" />
		<mapping class="mbmp.party.model.PartyContactMechanism" />
		<mapping class="mbmp.party.model.PartyContactMechanismPurpose" />
		<mapping class="mbmp.party.model.PartyPostalAddress" />
		<mapping class="mbmp.party.model.PartyRole" />
		<mapping class="mbmp.party.model.PartyRoleType" />
		<mapping class="mbmp.party.model.Person" />
		<mapping class="mbmp.party.model.communication.Case" />
		<mapping class="mbmp.party.model.communication.CaseRole" />
		<mapping class="mbmp.party.model.communication.CaseRoleType" />
		<mapping class="mbmp.party.model.communication.CaseStatusType" />
		<mapping class="mbmp.party.model.communication.CommunicationEvent" />
		<mapping class="mbmp.party.model.communication.CommunicationEventPurpose" />
		<mapping class="mbmp.party.model.communication.CommunicationEventPurposeType" />
		<mapping class="mbmp.party.model.communication.CommunicationEventRole" />
		<mapping class="mbmp.party.model.communication.CommunicationEventRoleType" />
		<mapping class="mbmp.party.model.communication.CommunicationEventStatusType" />
		<mapping class="mbmp.party.model.communication.CommunicationEventWorkEffort" />
		<mapping class="mbmp.party.model.contactmechanism.ContactMechanism" />
		<mapping class="mbmp.party.model.contactmechanism.ContactMechanismPurposeType" />
		<mapping class="mbmp.party.model.contactmechanism.PostalAddress" />
		<mapping class="mbmp.party.model.contactmechanism.TelecommunicationsNumber" />
		<mapping class="mbmp.party.model.facility.Building" />
		<mapping class="mbmp.party.model.facility.Facility" />
		<mapping class="mbmp.party.model.facility.FacilityContactMechanism" />
		<mapping class="mbmp.party.model.facility.FacilityRole" />
		<mapping class="mbmp.party.model.facility.FacilityRoleType" />
		<mapping class="mbmp.party.model.facility.Floor" />
		<mapping class="mbmp.party.model.facility.Office" />
		<mapping class="mbmp.party.model.facility.Plant" />
		<mapping class="mbmp.party.model.facility.Room" />
		<mapping class="mbmp.party.model.facility.Warehouse" />
		<mapping class="mbmp.party.model.geographic_boundary.GeographicBoundary" />
		<mapping class="mbmp.party.model.geographic_boundary.GeographicBoundaryType" />
		<mapping class="mbmp.party.model.relationship.RelationshipType"/>
		<mapping class="mbmp.party.model.relationship.CustomerRelationship"/>
		<mapping class="mbmp.party.model.relationship.DistributorChannelRelationship"/>
		<mapping class="mbmp.party.model.relationship.Employment"/>
		<mapping class="mbmp.party.model.relationship.OrganizationContactRelationship"/>
		<mapping class="mbmp.party.model.relationship.OrganizationRollup"/>
		<mapping class="mbmp.party.model.relationship.Partnership"/>
		<mapping class="mbmp.party.model.relationship.PartyRelationship"/>
		<mapping class="mbmp.party.model.relationship.PriorityType"/>
		<mapping class="mbmp.party.model.relationship.StatusType"/>
		<mapping class="mbmp.party.model.relationship.SupplierRelationship"/>
		<mapping class="mbmp.party.model.relationship.TerminationReason"/>		
		
	</session-factory>

</hibernate-configuration>